:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(252, 252, 252);
  background-color: #b58fd2;
}

a {
  font-weight: 500;
  color: #64d6ff;
  text-decoration: inherit;
}
a:hover {
  color: #309bd5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

